body  {
    margin: 0;
    padding: 0;
}
#container {
    width: 800px; /*SET your width here*/
    margin: 0 auto;
}
div.card {
    border: 2px solid gray;
    position: absolute;
    max-width:50px; /* or whatever width you want. */
    display: inline-block;
    text-align: center;
    font-size: xx-large;
    cursor: pointer;
    background-color: #d4d4d4;
}

div.card.selected{
    background-color: #dca7a7;
}

div.play-desk{
    background-color: #dddddd;
    position: relative;
    margin:0 auto;
}

select.size{
    display: inline-block;
}

div.playSettingsForm{
    width: 500px;
    margin:0 auto;
}