<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Find the same</title>
  <link rel="stylesheet" href="app/styles/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">


  <script src="bower_components/angular/angular.min.js" language="JavaScript"></script>
</head>

<body ng-app="findTheSameApp">

<!-- info -->
<div class="well" ng-include=" 'info.html' "></div>
<!-- /info -->

<div id="container" ng-controller="gameController">
<div class="playSettingsForm">
  <form class="form-horizontal" >
    <div class="form-group">
      <label class="col-sm-2 control-label">Type</label>
      <div class="col-sm-10">
        <select class="form-control" ng-disabled="true" ng-model="settings.cardType" ng-se ng-options="cardType.value as cardType.text for cardType in cardTypes" style="width:162px"></select>
      </div>

    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Size</label>
      <div class="col-sm-10">
        <select class="form-control size" ng-model="settings.size.cols" ng-options="value as value for value in cols" style="width:70px"></select>
        <span>&nbsp;x&nbsp;</span>
        <select class="form-control size" ng-model="settings.size.rows" ng-options="value as value for value in rows" style="width:70px"></select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Mathes</label>
      <div class="col-sm-10">

        <label>
          1 <input type="radio" ng-disabled="true" ng-model="settings.matches" value="1">
        </label>
        <label>
          2 <input type="radio" ng-disabled="true" ng-model="settings.matches" value="2">
        </label>
        <label>
          3 <input type="radio" ng-disabled="true" ng-model="settings.matches" value="3">
        </label><br/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button ng-click="newGame()" class="btn btn-default">P L A Y</button>
      </div>
    </div>
  </form>
  </div>



<!-- play content-->
  <div class="play-desk" ng-style="{'width': playBoard.width+'px','height':playBoard.height+'px'}">
    <div card item="c" ng-repeat="c in cards | filter: notDeleted"></div>
  </div>
<!-- /play content-->

</div>

</div>

<!-- Main application-->
<script src="app/app.js"></script>

<!-- Services/Factories/Providers -->
<script src="app/Services.GameSettingsService.js" language="JavaScript"></script>
<script src="app/Services.GameManagerService.js" language="JavaScript"></script>

<!-- Controllers -->
<script src="app/Controllers.GameController.js" language="JavaScript"></script>

<!-- Directive -->
<script src="app/directives.cardDirective.js" language="JavaScript"></script>

</body>
</html>